{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<nav class="nav">
    <a class="nav_logo" href="/">
        <img class="fitball_logo" src="https://fitball.s3.us-east-2.amazonaws.com/Images/FitBot.png">
    </a>
</nav>

<div class = "body">
    {% if error_message %}
        <div class = "error_message">
            {{ error_message }}
        </div>
    {% endif %}
    {% if success_message %}
        <div class = "success_message">
            {{ success_message }}
        </div>
    {% endif %}
    <div class = "form">
        <img src="{% static 'app/images/'|add:device.device_name|add:'.png' %}">
        <span class = "form_header">Enter your {{ device }} credentials</span>
        <span class = "form_sub_header">
            We <span class = "yellow_background">never save</span> your login info or health data!
            Because of that, we'll <span class = "blue_background">need you to reconnect your {{device}}</span> every few days 😊
        </span>
        <form method="POST" class = "form_items" id="connect_device_form">
            {% csrf_token %}
            <input type="hidden" id="action" name="action" value="connect_device">
            <input type="hidden" id="device" name="device" value={{device}}>
            {{ form.as_p }}
            <button type="submit" class="button yellow form_button" onclick="checkCredentials()">Submit</button>
        </form>
    </div>
    </br>
    <a class = "form_sub_header" href="{% url 'fitball:devices' %}">Connect a different device</a>
</div>

<div id = "overlay" style="display:none">
    <span class = "header">
        Checking your {{ device }} credentials
    </span>
</div>

<script>
    function checkCredentials() {
      document.getElementById("overlay").style.display = "flex";
    }
</script>

{% endblock %}
