{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<nav class="nav">
    <a class="nav_logo" href="/">
        <img class="fitball_logo" src="https://fitball.s3.us-east-2.amazonaws.com/Images/FitBot.png">
    </a>
</nav>

<div class = "body">
    <div class = "grid_master">
        <img src="{% static 'app/images/'|add:device.device_name|add:'.png' %}">
        <div class = "form_header"><strong>We successfully connected to your {{ device }}!</strong></div>
        <div class = "form_sub_header">Now, let's <a href = "{% url 'fitball:new-goal' device.id %}">set up a goal</a> for you to compete against.</div>
    </div>
</div>

{% endblock %}
