{% extends 'app/base.html' %}

{% block content %}

<nav class="fitball-navbar">
    <a class="fitball-navbar-brand" href="/">
        <img class="fitball-img" src="https://fitball.s3.us-east-2.amazonaws.com/Images/FitBot.png">
    </a>
</nav>

<div class = "master_div">
    <div class = "dashboard-grid-master">

        </br>
        <div class = "form-img">
            <img src="{{ device.logo.url }}">
        </div>

        <div class = "form_master">
            <div class = "form_header">
                <strong>Enter your {{ device }} credentials below:</strong>
            </div>
            
            {% if error_message %}<div class = "error_message">{{ error_message }}</div></br>{% endif %}

            <form method="POST" id="connect-device-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button" onclick="overlay()">Submit</button>
            </form>
        </div>

        <div class = "form_change">
            <a href="{% url 'fitball:devices' %}">Connect a different device</a>
        </div>
    </div>
</div>


<div id="overlay">
    <h3 id = "overlay-text"><strong>Checking your {{ device }} credentials</strong></h3>
    <div class="loader"></div>
</div>

<script>
    function overlay() {
      document.getElementById("overlay").style.display = "block";
    }
</script>

{% endblock %}
