{% extends 'app/base.html' %}
{% load static %}

{% block content %}

<nav class="nav">
    <a class="nav_logo" href="/">
        <img class="fitball_logo" src="https://fitball.s3.us-east-2.amazonaws.com/Images/FitBot.png">
    </a>
</nav>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class = "body">
    <div class = "header">
        Connect a <span class = "green_text">fitness wearable</span>.
        </br>Set <span class = "blue_text">daily goals</span>.
        </br>Compete to <span class = "orange_text">win money</span>.
    </div>

    <div class = "grid">
    {% csrf_token %}
    {% for device in devices %}
        <div class = "grid_item">
            <div class = "grid_item_image">
                <img src="{% static 'app/images/'|add:device.device_name|add:'.png' %}">
            </div>
            {% if device.active == True %}
                    <a class = "button yellow" href="{% url 'fitball:connect-device' device.id %}">
                        Connect your {{device.device_name}}!
                    </a>
            {% else %}
                <a class = "button white" href="#" onclick="OpenComingSoonForm({{device.id}});" id="device_inactive_{{device.id}}">
                    Coming soon, get notified!
                </a>
                <div style="display:none" class="hidden_form" id="hidden_form_{{device.id}}">
                    <form id="contact_form" name="contact_form" data-name="Contact Form" method="post" class="hidden_form_flex">
                        {% csrf_token %}
                        <div class="w-embed">
                            <input type="hidden" id="device_{{device.id}}" name="device" value="{{device.device_name}}">
                        </div>
                        <div>
                            <input class="hidden_form_input" type="text" maxlength="256" name="name" data-name="name" placeholder="First Name" id="name_{{device.id}}" required="">
                        </div>
                        <div>
                            <input class="hidden_form_input" type="email" maxlength="256" name="email" data-name="email" placeholder="Email Address" id="email_{{device.id}}" required="">
                        </div>
                        <button class="button black" type="submit" onclick="SubmitForm({{device.id}})">Notify me!</button>
                    </form>
                </div>
                <a style="display:none" class="button green" id="success_message_{{device.id}}">
                    Thank you!
                </a>
                <a style="display:none" class="button orange" id="fail_message_{{device.id}}">
                    Oops! Something went wrong while submitting the form.
                </a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>  

<script>
    function OpenComingSoonForm(id){
        document.getElementById("hidden_form_" + id).style.display = 'block';
        document.getElementById("device_inactive_" + id).style.display = 'none';
    }
</script>
<script>
    function SubmitForm(id) {
        console.log('#hidden_form_' + id);
        const form = $('#hidden_form_' + id);
        form.on('submit', function(event){
            event.preventDefault();

            $.ajax({
                method: "POST",
                url: "/api/waitlist/",
                dataType: "json",
                data: {
                    "device": document.getElementById("device_" + id).value,
                    "name": document.getElementById("name_" + id).value,
                    "email": document.getElementById("email_" + id).value,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
                success : function(json) {
                    document.getElementById("success_message_" + id).style.display = 'block';
                    document.getElementById("hidden_form_" + id).style.display = 'none';
                },
                error: function(error_data){
                    console.log("Error")
                    console.log(error_data)
                    document.getElementById("fail_message_" + id).style.display = 'block';
                    document.getElementById("hidden_form_" + id).style.display = 'none';
                }
            });
        });
    }
</script>

{% endblock %}