{% extends 'app/base.html' %}

{% block content %}

<nav class="nav">
    <a class="nav_logo" href="/">
        <img class="fitball_logo" src="https://fitball.s3.us-east-2.amazonaws.com/Images/FitBot.png">
    </a>
</nav>

<div class = "body">
    <span class = "form_header">
        Awesome, we connected your Discord ID!
        </br>If you ever want to check your data, just message <span class = "yellow_background">!update</span> to FitBot 💪🤖
    </span>
    <span class = "form_sub_header">
        You should have just gotten a <span class = "blue_background">message from FitBot</span>
        </br>If you didn't get it, re-enter your username <a href="{% url 'fitball:connect-discord' %}">here</a>
    </span>
</div>

{% endblock %}
