{% extends 'app/base.html' %}

{% block content %}
<!-- 
<nav class="fitball-navbar">
    <a class="fitball-navbar-brand" href="/">
        <img class="fitball-img" src="https://fitball.s3.us-east-2.amazonaws.com/Images/FitBot.png">
    </a>
</nav> -->

<div class = "index_master_div">
    <div class = "index_body">
        <h1>Fitball</h1>
        <h2>⌚️ Connect your device</h2>
        <h2>🥅 Set daily goals</h2>
        <h2>🥇 Track results</h2>
        <h2>🔜 Compete with friends + win money</h2>
        </br>
        <button href="/devices" class="index_button">
            <span>Let's Fitball!</span>
        </button>
    </div>
</div>

{% endblock %}
