{% extends 'app/base.html' %}

{% block content %}

<nav class="fitball-navbar">
    <a class="fitball-navbar-brand" href="/">
        <img class="fitball-img" src="https://fitball.s3.us-east-2.amazonaws.com/Images/FitBot.png">
    </a>
</nav>

<div class = "master_div">
    <div class = "grid_master">
        <img src="{{ device.logo.url }}">
        <div class = "form_header"><strong>Way to add a {{ device }} goal!</strong></div>
        </br>
        <div class = "form_sub_header"><a href = "{% url 'fitball:new-goal' device.id %}">Add another one</a></div>
    </div>
</div>

{% endblock %}
