/* General */
@import url(https://fonts.googleapis.com/css?family=Inter);

img {
    height: 75px;
}

/* Nav Bar */
.nav {
    position: fixed;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    /* Gradient bottom border */
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(18deg, #FBE8A6 0%, #91CCF4 100%);
    /* Flex box */
    display: flex;
    align-items: center;
}

.nav_logo {
    width: auto;
    height: auto;
    margin-left: 10px;
}

.fitball_logo {
    height: 90%;
}

/* Body */
.body {
    /* Add 75px of badding to offset content by the height of the nav */
    padding-top: 75px;
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Height and width */
    height: 100%;
    width: 100%;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 40px;
    width: 90%;
    max-width: 1100px;
}

.grid_item {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Add a border around the grid_item */
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.19);
    /* General */
    padding: 20px;
    text-align: center;
}

.grid_item_image {
    margin-bottom: 10px;
}

/* Form */
.form {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Add a border around the grid_item */
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.19);
    /* General */
    padding: 20px;
    /* Size */
    width: 90%;
    max-width: 1100px;
}

.form_items {
    width: 100%;
}

.form-control {
    /* Add a bottom border */
    border-style: none none solid;
    border-width: 2px;
    border-color: #000 #000 #fbe8a6;
    box-shadow: none;
}

/* Hidden Form */
.hidden_form {
    margin-bottom: -15px;
}

.hidden_form_input {
    /* Add a bottom border */
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #fbe8a6;
    text-align: center;
    margin-bottom: 10px;
}

/* Buttons */
.button {
    padding: 9px 15px;
    border-radius: 50px;
    margin-top: auto;
}

.button:hover {
    opacity: .5;
}

.yellow {
    border: 1.5px solid #fbe8a6;
    background-color: #fbe8a6;
    color: #000;
}

.white {
    border: 1.5px solid #fbe8a6;
    background-color: #FFFFFF;
    color: #000;
}

.black {
    border: 1.5px solid #000000;
    background-color: #000000;
    color: #fbe8a6;
}

.green {
    border: 1.5px solid #5cdb94;
    background-color: #5cdb94;
    color: #000;
}

.orange {
    border: 1.5px solid #F4976C;
    background-color: #F4976C;
    color: #000;
}

.green:hover, .orange:hover {
    opacity: 1;
}

.form_button {
    width: 100%;
    margin-top: 5px;
    margin-bottom: -20px;
}

/* Text */

.header {
    /* Width */
    width: auto;
    max-width: 1100px;
    /* Font */
    font-size: 58;
    font-weight: 700;
    /* Margin */
    margin-bottom: 20px;
}

.form_header {
    /* Width */
    width: auto;
    max-width: 800px;
    /* Font */
    font-size: 33;
    font-weight: 700;
    text-align: center;
    /* Margin */
    margin-top: 10px;
    margin-bottom: 20px;
}

.form_sub_header {
    /* Width */
    width: auto;
    max-width: 700px;
    /* Font */
    font-size: 18;
    text-align: center;
    /* Margin */
    margin-top: -10px;
    margin-bottom: 20px;
}

.form_p {
    /* Width */
    width: auto;
    max-width: 700px;
    /* Font */
    font-size: 18;
    text-align: center;
    /* Margin */
    margin-top: -10px;
    margin-bottom: 20px;
}

.green_background {
    background-color: #5cdb94;
}

.blue_background {
    background-color: #91ccf4;
}

.orange_background {
    background-color: #f4976c;
}

.yellow_background {
    background-color: #FBE8A6;
}

.green_text {
    color: #5cdb94;
}

.blue_text {
    color: #91ccf4;
}

.orange_text {
    color: #f4976c;
}

.yellow_text {
    color: #FBE8A6;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.error_message {
    text-align: center;
    color: #B84A39;
    font-size: 18px;
    margin-bottom: 10px;
    width: auto;
    max-width: 700px;
}

/* Overlay */
#overlay {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Sizing */
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Gradient background */
    background-image: linear-gradient(18deg, #FBE8A6 0%, #91CCF4 100%);
}

/* Mobile */

@media screen and (max-width: 812px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .nav_logo {
        margin-left: 0px;
    }
    
    .nav {
        justify-content: center;
    }

    .body {
        padding-top: 225px;
        padding-bottom: 20px;
        overflow: auto;
    }

    .header {
        font-size: 33px;
    }
    
    .form_header {
        font-size: 25px;
        text-align: left;
    }

    .form_sub_header {
        font-size: 25px;
        width: 90%;
        text-align: left;
    }

    .hidden_form_input, .form_items, .button, .error_message, .form-control {
        font-size: 22px;
    }
    
    .form_p {
        font-size: 22px;
    }

    .form {
        width: 90%;
        box-shadow: none;
    }

    #overlay {
        text-align: center;
    }

    .form-control {
        height: 50px;
    }
}

@media screen and (min-width: 813px) and (max-width: 1366px) {
    .header {
        font-size: 72px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .nav_logo {
        margin-left: 0px;
    }
    
    .nav {
        justify-content: center;
        height: 150px;
    }

    .body {
        padding-top: 200px;
        padding-bottom: 20px;
        overflow: auto;
    }
    
    .form_header {
        font-size: 66px;
        text-align: left;
    }

    .form_sub_header {
        font-size: 44px;
        text-align: left;
    }

    .hidden_form_input, .form_items, .button, .error_message, .form-control {
        font-size: 33px;
    }
    
    .form_p {
        font-size: 25px;
    }

    .form {
        width: 90%;
        box-shadow: none;
    }

    #overlay {
        text-align: center;
    }

    .form-control {
        height: 50px;
    }
}