/* General */
@import url(https://fonts.googleapis.com/css?family=Inter);

/* Nav Bar */
.nav {
    position: fixed;
    width: 100%;
    height: 75px;
}

.nav_logo {
    width: auto;
    height: 100%;
}

/* Body */


/* Form */


/* Hidden Form */


/* Grid */


/* Grid Item */


/* Buttons */


/* Mobile */